body, h1, p, button {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #f06, #9f6);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#meme-container {
    text-align: center;
    margin-bottom: 30px;
}

img {
    max-width: 300px;
    display: none;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

button {
    background: #fff;
    color: #f06;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background: #f06;
    color: #fff;
}
